.place__title {
  margin: 0;
  max-width: 460px;
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 76px;
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: 2.7rem;
    line-height: 110%;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    font-size: 2rem;
    line-height: 163%;
    margin: 0 0 0 16px;
  }
}