.lead__subtitle {
  margin: 32px auto 64px;
  max-width: 640px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    margin: 2rem auto 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    max-width: calc(100% - (16px * 2));
    margin: 1rem auto 2.5rem;
    font-size: 1rem;
    line-height: 125%;
  }
}