.lead__caption {
  margin: 8px 0 0;
  font-size: .6rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1027px) {
  .lead__caption {
    margin: 8px 0 0 24px;
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin: 8px 0 0 16px;
  }
}